.projectPageTabs {
  min-width: 270px;
}

.projectPageTabsList {
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  @media (min-width: 1024px) {
    max-width: 558px;
  }
}

.projectPageTabContent {
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 24px 16px;

  @media (min-width: 1024px) {
    padding: 62px 48px;
  }
}

.projectSearchFiltersTabs {
  padding-top: 40px;
  width: 250px;

  @media (min-width: 1024px) {
    width: 100%;
  }
}

.projectSearchFiltersTabsList {
  display: flex;
  justify-content: start;
  margin-bottom: 27px;
}
