.pageHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 34px;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.pageTitle {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.toggle {
  display: flex;
  min-width: 280px;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
