.lightCloseButton {
  display: block;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.boldCloseButton {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}
