.description {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.descriptionContent {
  font-size: 13px;
  margin-bottom: 24px;
  line-height: 22px;

  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1024px) {
    max-width: 546px;
    font-size: 17px;
    margin-right: 40px;
  }
}

.curators {
  display: flex;
  flex-direction: column;
}

.curator:not(:last-of-type) {
  margin-bottom: 20px;
}

.curatorWrapper {
  display: grid;
  column-gap: 11px;
  row-gap: 2px;
  max-width: 295px;
  width: fit-content;
}

.curatorImg {
  width: 33px;
  height: 33px;
  grid-row: 1/3;
  align-self: center;
  font-size: 13px;
  border-radius: 50%;

  @media (min-width: 1024px) {
    width: 42px;
    height: 42px;
  }
}

.curatorName {
  font-size: 11px;
  font-weight: 900;
  align-self: flex-end;

  @media (min-width: 768px) {
    font-size: 13px;
  }

  @media (min-width: 1024px) {
    font-size: 15px;
  }
}

.curatorStatus {
  font-size: 10px;
  color: #b1b1b1;
  font-weight: 900;
  grid-column: 2/3;
  word-break: break-all;

  @media (min-width: 768px) {
    font-size: 13px;
  }
}
