.accordion {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  width: 100%;
  margin-bottom: 24px;
}

.accordionButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 36px;
  padding-right: 16px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;

  @media (min-width: 768px) {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.accordionButtonActive {
  background-color: #242424;
}

.title {
  font-size: 13px;
  font-weight: 300;
  max-width: 175px;
  text-align: left;

  @media (min-width: 768px) {
    font-size: 20px;
    max-width: none;
  }
}

.titleActive {
  color: #ffffff;
}

.arrow {
  width: 19px;

  @media (min-width: 768px) {
    width: 33px;
  }
}

.arrowActive {
  transform: rotate(180deg);
}

.content {
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -10px;
  padding-top: 34px;
  padding-right: 16px;
  padding-bottom: 40px;
  padding-left: 16px;

  @media (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
